@import '../../variables';
@import '../../helpers';
.client {
  font-weight: 300;
}
.newClientInput {
  display: inline-block;
}
.newClientFormGroup>label {
  width: 30%;
  margin: 5px 0;
}
.newClientFormGroup>input {
  display: inline-block;
}
.clientInputText {
  @extend .input-text;
  padding: 2px;
  min-height: auto;
  margin: 5px 0;
}
.input-error {
  padding: 2px;
}
.clientList {
  width: 50%;
  float: left;
}
.newClient {
  width: 50%;
  float: right;
}
